body {
margin: 0px 0px 0px 0px;
}
A:link { text-decoration: none; }

.bckgr{
  background-image: url(https://interyerus.ru/f/product/54058.jpg);
  margin-top: -25px;
}

a:hover {
 text-decoration: underline;
}

/*-----header-----*/

.header {
	display: block;
	margin: 0 8% 0 8%;
	width: 100%;
}
.header_sitename{
	display: block;
	margin-top: 8px;
	height: 60px;
	margin-left: 90px;
}
.header_sitename h1{
	font-style: arial;
	font-weight: 530;
	margin-left: 45px;
	padding: 35px 0 0 0;
	font-size: 35px;
}
#logo {
	float: left;
}
/*nav*/

.nav {
	display: block;
	margin-left: 140px;
  margin-top: 8px;
	width: 80%;
	padding-bottom:24px;
}
.nav_link {

	float: left;
	margin-left: 90px;
	font-style: normal;
	font-weight: 450;
	font-size: 20px;
}

.nav_link a{
  color: white;
}

/*content*/

.content{
margin-left: 12.5%;
margin-right: 12.5%;
}

.content_links {
  background-color: Turquoise;
	margin-top: 10px;
	width: 100%;
	overflow: auto;
  font-size:15px;
}

.table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 640px;
  text-align: left;
  border-collapse: collapse;
  background: SteelBlue;
  margin: 10px;
}
.table_dark th {
  color: orange;
  border-bottom: 1px solid red;
  padding: 12px 17px;
}
.table_dark td {
  color: yellow;
  border-bottom: 1px solid red;
  border-right:1px solid red;
  padding: 7px 17px;
}
.table_dark tr:last-child td {
  border-bottom: none;
}
.table_dark td:last-child {
  border-right: none;
}

.content_form {
	margin-top: 10px;
  margin-left: 1.5%;
  margin-bottom: 15px;
}

.foot {

  margin-top: 25px;
  margin-bottom:25px;
  text-align:center;
  font-size: 15px;
}
